*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-decoration-color: white;
    background-color:rgb(72, 72, 222);
}

.formulario-1   {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: rgb(72, 72, 222);
    color: white;
    border-right: solid;
}

.formulario-2  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: #FD8A8A;
    color: white;
    border-right: solid;
}


.cargar-productos   {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: auto;
}

.buscar-productos   {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: auto;
}

.tabla-1    {
    width: 50%;
    background-color: rgb(72, 72, 222);
}

.tabla-2  {
    width: 50%;
    background-color: #FD8A8A;
}

.detalles   {
    color: white;
}

.boton  {
    margin-bottom: 20px;
}

.formulario-2   {
    display: flex;
    flex-direction: column;
    
}
